*
{
  font-family: 'BeaufortforLOL', 'Arial';
  outline: none;
}

html
{
	background: #111;
  color: #d5b26e;
  height: 100%;
	margin: 0;
}

body
{
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button
{
  font-size: 1.3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #937341;
  
  padding: 20px;
  background: linear-gradient(180deg, #ecc572 0, #815500);
  
  cursor: pointer;
  line-height: 1;
  border: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
  transition: color 0.4s;
  max-width: 100%;
  
  outline: none;
}

button:before
{
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  display: block;
  position: absolute;
  background: #111;
  z-index: -1;
}

button:hover
{
  color: #c4b998;  
}

/**
 * Default styling happens here.
 */
.container > .bg-init
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.container > .bg-init:before
{
  content: "";
  background: url('../images/backgrounds/bg3.jpg') top;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .25;
  filter: blur(8px);
}
.container > .bg-init:after
{
  content: "";
  background: url('../images/backgrounds/bg3.jpg') top;
  background-size: cover;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container > .notice
{
  background: linear-gradient(180deg, #F51C1A 0, #9E0707);
  border: none;
  top: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.11);
  color: #937341;

  left: 50%;
  transform: translateX(-50%);

  line-height: 1;
  padding: 10px 5px;
  position: absolute;

  text-align: center;
  text-transform: uppercase;
  width: 500px;
  z-index: 1;
}

.container > .notice:before
{
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  display: block;
  position: absolute;
  background: #111;
  z-index: -1;
}

.container > .content
{
  align-items: center;
  color: #d5b26e;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container > .content > .profile-banner
{
  /*border: 2px solid #937341;*/
  margin: 0 auto;
  padding: 10px;
  width: 204px;
}

.container > .content > .profile-banner > .profile-icon
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 50%;
  height: 200px;
  padding: 2px;
  width: 200px;
}

.container > .content > .profile-banner > .profile-icon > img
{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.container > .content > .profile-banner > .profile-icon > .profile-name
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 6px;
  margin-left: 30px;
  margin-top: -5px;
  padding: 2px;
  position: absolute;
  width: 135px;
  z-index: 100000;
}

.container > .content > .profile-banner > .profile-icon > .profile-name > div
{
  background: #111;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  width: 125px;
}

.container > .content > .profile-banner > .profile-icon > .profile-level
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 6px;
  margin-left: 75px;
  margin-top: -25px;
  padding: 2px;
  position: absolute;
  width: 45px;
  z-index: 100000;
}

.container > .content > .profile-banner > .profile-icon > .profile-level > div
{
  background: #111;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  width: 35px;
}

.container > .content > .profile-nav
{
  height: 31px;
  margin: 20px auto 0px;
  width: 600px;
}

.container > .content > .profile-nav > .profile-nav-item
{
  float: left;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.container > .content > .profile-nav > .profile-nav-item:hover
{
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 10px #d5b26e, 1px 1px 10px #d5b26e;
  transition: text-shadow 0.3s ease;
}

.container > .content > .profile-nav > .profile-nav-item.active
{
  color: #ecc572;
  text-shadow: 1px 1px 10px #d5b26e, 1px 1px 10px #d5b26e;
}

.container > .content > .profile-container
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 6px;
  padding: 2px;
  margin: 0 auto;
  width: 600px;
}

.container > .content > .profile-container > .profile-content
{
  background: #111;
  border-radius: 6px;
  overflow: auto;
  padding: 5px;
}

.container > .content > .profile-container > .profile-content > #match-history > .match
{
  padding: 5px 0px;
}

.container > .content > .profile-container > .profile-content > #match-history > .match:not(:last-child)
{
  border-bottom: 2px solid #7e633b;
}

.container > .content > .profile-container > .profile-content > #champion-mastery
{
  padding-top: 20px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content
{
  float: left;
  margin: 0px 0px 20px 26px;
  padding: 10px 0px;
  width: 120px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon,
.container > .content > .profile-container > .profile-content > #match-history > .match > .match-icons > .match-icon
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 50%;
  height: 100px;
  padding: 2px;
  width: 100px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon > img,
.container > .content > .profile-container > .profile-content > #match-history > .match > .match-icons > .match-icon > img
{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon > .champion-name
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 6px;
  margin: -23px 0px 0px -8px;
  padding: 2px;
  position: absolute;
  width: 110px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon > .champion-name > div
{
  background: #111;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon > .champion-level
{
  background: linear-gradient(180deg, #ecc572 0, #815500);
  border-radius: 6px;
  margin: -12px 27px;
  padding: 2px;
  position: absolute;
  width: 40px;
}

.container > .content > .profile-container > .profile-content > #champion-mastery > .champion-content > .champion-icon > .champion-level > div
{
  background: #111;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
  width: 30px;
}

/**
 * Custom CSS Loader
 */
.css-loader
{
  display: none;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  height: 64px;
  width: 64px;
}
.css-loader div
{
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #937341;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.css-loader div:nth-child(1)
{
  left: 6px;
  animation: css-loader1 0.6s infinite;
}
.css-loader div:nth-child(2)
{
  left: 6px;
  animation: css-loader2 0.6s infinite;
}
.css-loader div:nth-child(3)
{
  left: 26px;
  animation: css-loader2 0.6s infinite;
}
.css-loader div:nth-child(4)
{
  left: 45px;
  animation: css-loader3 0.6s infinite;
}
@keyframes css-loader1
{
  0%
  {
    transform: scale(0);
  }
  100%
  {
    transform: scale(1);
  }
}
@keyframes css-loader3
{
  0%
  {
    transform: scale(1);
  }
  100%
  {
    transform: scale(0);
  }
}
@keyframes css-loader2
{
  0%
  {
    transform: translate(0, 0);
  }
  100%
  {
    transform: translate(19px, 0);
  }
}
